model:
  checkpoint_path: "Qwen/Qwen2.5-7B-Instruct"
  torch_dtype: "bfloat16"

evaluation:
  evaluate_on: "tooluse_sim"
  max_samples: null # null if all
  batch_size: 8
  seed: 42

vllm:
  gpu_memory_utilization: 0.9
  tensor_parallel_size: 1
  max_new_tokens: 2048
  temperature: 0.0
  top_p: 1.0

output:
  results_subdir: "eval_qwen2.5_7_base_sim"
  save_predictions: true
  save_stats: true

logging:
  verbose: true
